<%- include('./components/header')%>
<div class="header">
    <a href="/auth" class="btn btn-outline-dark">Log in</a>
    <div id="title">
        <h1>Matrix Master Community</h1>
        <h2>There are -- questions</h2>
    </div>
    
</div>
<div class="add">
    <a href="/addQuestion" class="btn btn-outline-dark">Add question</a>
</div>



<%- include('./components/footer')%>